body {
    background-color: gray;
    padding: 100px 0;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

button {
    margin-top: 20vh;
    background-color: white;
    color: #222;
    padding: 20px;
    outline: none;
    font-size: 18px;
    min-width: 250px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;

    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}